* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #212f3f;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 2%; /* Adjusted padding */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #081b29;
}

.logo {
    position: relative;
    font-size: 2vw; /* Adjusted font size */
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 2vw; /* Adjusted font size */
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3vw; /* Adjusted margin */
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover{
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("Untitled design.png") no-repeat; /* Update the background image path */
    background-size: cover; /* Adjusted background size */
    background-position: center;
    display: flex;
    align-items: center;
    padding: 5% 5% 0;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background: url("Untitled design (3).png") no-repeat; /* Update the background image path */
    background-size: cover; /* Adjusted background size */
    background-position: center;
}


.home-content {
    max-width: 90%; /* Adjusted maximum width */
}

.home-content h3 {
    font-size: 3vw; /* Adjusted font size */
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 3vw; /* Adjusted margin */
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 5vw; /* Adjusted font size */
    font-weight: 700;
    margin: -0.15em 0; /* Adjusted margin */
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 2vw; /* Adjusted font size */
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4vw; /* Adjusted width */
    height: 4vw; /* Adjusted height */
    background: transparent;
    border: 0.2vw solid #0ef; /* Adjusted border */
    border-radius: 50%;
    font-size: 2vw; /* Adjusted font size */
    color: #0ef;
    text-decoration: none;
    margin: 3vw 1.5vw 3vw 0; /* Adjusted margin */
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .5s ease;
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 1.5vw 3.5vw; /* Adjusted padding */
    background: #0ef;
    border-radius: 4vw; /* Adjusted border-radius */
    font-size: 1.5vw; /* Adjusted font size */
    color: #081b29;
    letter-spacing: 0.1vw; /* Adjusted letter spacing */
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 0.25vw #0ef, 0 0 1.25vw #0ef; /* Adjusted box-shadow */
}

.btn-box:hover {
    box-shadow: 0 0 0.25vw cyan, 0 0 1.25vw cyan, 0 0 2.5vw cyan, 0 0 5vw cyan, 0 0 10vw cyan; /* Adjusted box-shadow */
}

.about-img img {
    padding-bottom: 10%; /* Adjusted padding */
    max-width: 90vw; /* Adjusted max-width */
    height: auto;
    width: 100%;
    border-radius: 2vw; /* Adjusted border-radius */
}

.about-text h2 {
    font-size: 6vw; /* Adjusted font size */
}
.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 2vw; /* Adjusted font size */
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 1.5vw 0 3vw; /* Adjusted margin */
}

.about-text p {
    color: aliceblue;
    font-size: 2vw; /* Adjusted font size */
    line-height: 1.4;
    margin-bottom: 5vw; /* Adjusted margin */
}

#services {
    color: aliceblue;
    font-size: 2vw; /* Adjusted font size */
    line-height: 1.4;
    margin-bottom: 4vw; /* Adjusted margin */
}

.sub-title {
    text-align: center;
    font-size: 6vw; /* Adjusted font size */
    padding-bottom: 7vw; /* Adjusted padding */
    padding-top: 3vw; /* Adjusted padding */
}
.sub-title span{
    color: #0ef;
}

.container {
    padding: 9vw; /* Adjusted padding */
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr)); /* Adjusted grid-template-columns */
    grid-gap: 4vw; /* Adjusted grid-gap */
    margin: 5vw; /* Adjusted margin */
    padding: 5vw; /* Adjusted padding */
}

.services-list div {
    background-color: transparent;
    padding: 4vw; /* Adjusted padding */
    font-size: 1.3vw; /* Adjusted font size */
    font-weight: 13px;
    border-right: 0.4vw; /* Adjusted border-right */
    border-radius: 4vw;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 0.05vw 0.05vw 1vw #012290f7, 0.05vw 0.05vw 2vw #0053b8f7; /* Adjusted box-shadow */
}

.services-list div i {
    font-size: 4vw; /* Adjusted font size */
    margin-bottom: 2vw; /* Adjusted margin */
}

.services-list div h2 {
    font-size: 2.5vw; /* Adjusted font size */
    font-weight: 500;
    margin-bottom: 1.5vw; /* Adjusted margin */
}

.services-list div a {
    text-decoration: none;
    color: #000;
    font-size: 2vw; /* Adjusted font size */
    margin-top: 2vw; /* Adjusted margin */
    display: inline-block;
}
section{
    display: flex;
}
.read {
    display: inline-block;
    padding: 1.5vw 3.5vw; /* Adjusted padding */
    background-color: #0ef;
    border-radius: 4vw; /* Adjusted border-radius */
    font-size: 1.5vw; /* Adjusted font size */
    color: #081b29;
    letter-spacing: 0.1vw; /* Adjusted letter spacing */
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 0.25vw #0ef, 0 0 1.25vw #0ef; /* Adjusted box-shadow */
}

.read:hover {
    box-shadow: 0 0 0.25vw cyan, 0 0 1.25vw cyan, 0 0 2.5vw cyan, 0 0 5vw cyan, 0 0 10vw cyan; /* Adjusted box-shadow */
}


.skills {
    width: 90%; /* Updated width for responsiveness */
    max-width: 600px; /* Added max-width for better control */
    margin: 5% auto; /* Updated margin for responsiveness */
    color: #fff;
    padding: 5%; /* Updated padding for responsiveness */
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.skills h3 {
    margin: 2% 0; /* Adjusted margin for responsiveness */
    font-size: 3vw; /* Adjusted font size for responsiveness */
}


.skills li {
    margin: 5% 0; /* Updated margin for responsiveness */
    padding: 5%; /* Updated padding for responsiveness */
    list-style-type: none;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    transition: all 0.3s cubic-bezier(.25, .8, .25, .1);
}

.bar:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1) 0%, rgba(0, 238, 255, 1) 100%);
}

.container1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%; /* Adjusted gap for responsiveness */
    margin: 5%; /* Adjusted margin for responsiveness */
}

.container1 .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw; /* Adjusted width using viewport width */
    height: auto; /* Allowing height to adjust based on content */
    max-width: 200px; /* Added max-width for better control */
    max-height: 200px; /* Added max-height for better control */
    border-radius: 50%;
}

.container1 .circle::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background-color: #222;
    opacity: 0.8;
}

.container1 .circle::after {
    content: '';
    position: absolute;
    width: 60%; /* Adjusted width using percentage */
    height: 60%; /* Adjusted height using percentage */
    border-radius: 50%;
    background-color: #333;
    border: 15px solid #4d4c51;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.container1 .circle .number {
    position: relative;
    color: #fff;
    z-index: 1;
    line-height: 1em;
    font-size: 2em;
}

.container1 .circle .number span {
    font-size: 0.5em;
    font-weight: 500;
}

.container1 .circle h4 {
    position: relative;
    color: #fff;
    z-index: 10;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 0.6em;
}





.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 0 30px; /* Added padding for responsiveness */
    margin-top: 5%; /* Adjusted margin for responsiveness */
}

.contact-text h2 {
    font-size: 9vw; /* Adjusted font size */
    line-height: 1;
    text-align: center;
}

.contact-text h4 {
    margin: 1.5vw 0; /* Adjusted margin */
    color: rgb(177, 177, 177);
    font-size: 2vw; /* Adjusted font size */
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 2vw; /* Adjusted font size */
    line-height: 3vw; /* Adjusted line height */
    margin-bottom: 2vw; /* Adjusted margin */
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list i {
    font-size: 2vw; /* Adjusted font size */
    font-weight: 600;
    transition: all 0.40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-0.5vw); /* Adjusted transform */
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6vw; /* Adjusted width */
    height: 6vw; /* Adjusted height */
    background: transparent;
    border: 0.2vw solid #0ef; /* Adjusted border */
    border-radius: 50%;
    font-size: 2vw; /* Adjusted font size */
    color: #0ef;
    text-decoration: none;
    margin: 3vw 1.5vw 3vw 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background-color: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position :relative;
}
.contact-form form input,
form  textarea {
    border: none;
    outline: none;
    width: 90%; /* Adjusted width */
    padding: 4vw; /* Adjusted padding */
    background: #4c4d4c;
    color: #000;
    font-size: 1.5vw; /* Adjusted font size */
    font-weight: 600;
    margin-bottom: 1vw; /* Adjusted margin */
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 20vw; /* Adjusted height */
}

.contact-form form .send {
    display: inline-block;
    padding: 1.5vw 3.5vw; /* Adjusted padding */
    background-color: #0ef;
    border-radius: 4vw; /* Adjusted border-radius */
    font-size: 1.5vw; /* Adjusted font size */
    color: #081b29;
    letter-spacing: 0.1vw; /* Adjusted letter spacing */
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 0.25vw #0ef, 0 0 1.25vw #0ef; /* Adjusted box-shadow */
}

.contact-form form .send:hover {
    box-shadow: 0 0 0.25vw cyan, 0 0 1.25vw cyan, 0 0 2.5vw cyan, 0 0 5vw cyan, 0 0 10vw cyan; /* Adjusted box-shadow */
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 2.5vw 0; /* Adjusted padding */
    background: #001b29;
    font-weight: 300;
    margin-top: 7vw; /* Adjusted margin */
}

.top {
    position: fixed;
    bottom: 2.1vw; /* Adjusted bottom */
    right: 2.1vw; /* Adjusted right */
}

.top i {
    color: #000;
    background-color: #0ef;
    font-size: 2vw; /* Adjusted font size */
    padding: 1vw; /* Adjusted padding */
    border-radius: 0.5rem;
}





@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.html{
    width: 60vw;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0vw;
    }
    100%{
        width: 6vw;
    }
}
.css{
    width: 90vw;
    animation: css 3s;
}
@keyframes css{
    0%{
        width: 0vw;
    }
    100%{
        width: 90vw;
    }
}
.js{
    width: 70vw;
    animation: js 3s;
}
@keyframes js{
    0%{
        width: 0vw;
    }
    100%{
        width: 70vw;
    }
}
.cpp{
    width: 80vw;
    animation: cpp 3s;
}
@keyframes cpp{
    0%{
        width: 0vw;
    }
    100%{
        width: 80vw;
    }
}
.java{
    width: 50vw;
    animation: java 3s;
}
@keyframes java{
    0%{
        width: 0vw;
    }
    100%{
        width: 50vw;
    }
}



